---
layout: standart_view
title: Розклад
---

<div class="container pt-5 pb-5">
<div class="card">
    <div class="tabs m-0 p-0">
        <div class="card-header">
            <nav class="tab-list">
                <h3 style="text-align: center;">Розклад богослужінь</h3>
                <h3 style="text-align: center;">
                    {% assign now_minus_28d_timestamp = 'now' | date: '%s' | minus: 2419200 %}
                    {% assign month_date_now = 'now' | date: '%m-%Y'%}

                    {% for item in site.data.calendar.month %}
                    {% assign month_timestamp = item.month_date | prepend: '01-' | date: '%d-%m-%Y'%}
                    {% assign month_timestamp = month_timestamp | date: '%s' | plus: 0 %}

                    {% if item.is_published and month_timestamp > now_minus_28d_timestamp%}
                    <a class="tab {% if item.month_date == month_date_now %} active {% endif %}" href="#{% increment var %}">
                        {% assign month_number = item.month_date | slice: 0,2 | plus: 0 %}
                        {% assign month_name = site.data.months.dictionary | where:"number", month_number | first %}
                        {{month_name.nominativ}}
                    </a>
                    {% endif %}
                    {% endfor %}
                </h3>
            </nav>
        </div>


        {% for item in site.data.calendar.month %}
        {% assign month_timestamp = item.month_date | prepend: '01-' | date: '%d-%m-%Y'%}
        {% assign month_timestamp = month_timestamp | date: '%s' | plus: 0 %}

        {% if item.is_published and month_timestamp > now_minus_28d_timestamp%}

        <div id="{% increment rav %}" class="tab-content {% if item.month_date == month_date_now %}show{% endif %}">
            {% for entry in item.day %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row cent">
                        <div class="col-sm-2 atext-c center">
                            {{ entry.d }}
                            {% assign month_number = item.month_date | slice: 0,2 | plus: 0 %}
                            {% assign month_name = site.data.months.dictionary | where:"number", month_number | first %}
                            {{month_name.genetiv}}
                        </div>
                        <div class="col-sm-2 atext-c center">
                            <table style="width:100%">
                                    {% for event in entry.event  %}
                                <tr>
                                    <td  class="m-2 center"><strong>{{ event.time }}</strong></td>
                                </tr>
                                    {% endfor %}
                            </table>
                        </div>
                        <div class="col-sm-4 atext-c center">
                            <table style="width:100%">
                                    {% for event in entry.event %}
                                <tr>
                                    <td  class="m-2 center">{{ event.title}}</td>
                                </tr>
                                    {% endfor %}
                            </table>
                        </div>
                        <div class="col-sm-4 atext-c center">{{entry.occasion}}</div>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>



<script type="text/javascript">
    $(".tab-list").on("click", ".tab", function(e) {
        e.preventDefault();

        $(".tab").removeClass("active");
        $(".tab-content").removeClass("show");
        $(this).addClass("active");
        $($(this).attr("href")).addClass("show");
    });
</script>



