---
layout: standart_view
title: Розклад
---

<div class="container pt-5 pb-5">
<div class="card">
    <div class="tabs m-0 p-0">
        <div class="card-header">
            <nav class="tab-list">
                <h3 style="text-align: center;">Розклад богослужінь</h3>
                <h3 style="text-align: center;">
                    {% assign month_date_now = 'now' | date: '%m-%Y'%}
                    {% for item in site.data.calendar.month %}
                    {% if item.is_published %}
                    <a class="tab {% if item.month_date == month_date_now %} active {% endif %}" href="#{% increment var %}">
                        {% if item.month_date contains '01-'  %} Січень {% endif %}
                        {% if item.month_date contains '02-'  %} Лютий {% endif %}
                        {% if item.month_date contains '03-'  %} Березень {% endif %}
                        {% if item.month_date contains '04-'  %} Квітень {% endif %}
                        {% if item.month_date contains '05-'  %} Травень {% endif %}
                        {% if item.month_date contains '06-'  %} Червень{% endif %}
                        {% if item.month_date contains '07-'  %} Липень {% endif %}
                        {% if item.month_date contains '08-'  %} Серпень {% endif %}
                        {% if item.month_date contains '09-'  %} Вересень {% endif %}
                        {% if item.month_date contains '10-'  %} Жовтень {% endif %}
                        {% if item.month_date contains '11-'  %} Листопад {% endif %}
                        {% if item.month_date contains '12-'  %} Грудень {% endif %}
                    </a>
                    {% endif %}
                    {% endfor %}
                </h3>
            </nav>
        </div>


        {% for item in site.data.calendar.month %}
        {% if item.is_published %}
        <div id="{% increment rav %}" class="tab-content {% if item.month_date == month_date_now %}show{% endif %}">
            {% for entry in item.day %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row cent">
                        <div class="col-sm-2 atext-c center">
                            {{ entry.d }}
                            {% if item.month_date contains '01-'  %} січня {% endif %}
                            {% if item.month_date contains '02-'  %} лютого {% endif %}
                            {% if item.month_date contains '03-'  %} березня {% endif %}
                            {% if item.month_date contains '04-'  %} квітня {% endif %}
                            {% if item.month_date contains '05-'  %} травня {% endif %}
                            {% if item.month_date contains '06-'  %} червня{% endif %}
                            {% if item.month_date contains '07-'  %} липня {% endif %}
                            {% if item.month_date contains '08-'  %} серпня {% endif %}
                            {% if item.month_date contains '09-'  %} вересня {% endif %}
                            {% if item.month_date contains '10-'  %} жовтня {% endif %}
                            {% if item.month_date contains '11-'  %} листопада {% endif %}
                            {% if item.month_date contains '12-'  %} грудня {% endif %}
                        </div>
                        <div class="col-sm-2 atext-c center">
                            <table style="width:100%">
                                    {% for event in entry.event  %}
                                <tr>
                                    <td  class="m-2 center"><strong>{{ event.time }}</strong></td>
                                </tr>
                                    {% endfor %}
                            </table>
                        </div>
                        <div class="col-sm-4 atext-c center">
                            <table style="width:100%">
                                    {% for event in entry.event %}
                                <tr>
                                    <td  class="m-2 center">{{ event.title}}</td>
                                </tr>
                                    {% endfor %}
                            </table>
                        </div>
                        <div class="col-sm-4 atext-c center">{{entry.occasion}}</div>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>



<script type="text/javascript">
    $(".tab-list").on("click", ".tab", function(e) {
        e.preventDefault();

        $(".tab").removeClass("active");
        $(".tab-content").removeClass("show");
        $(this).addClass("active");
        $($(this).attr("href")).addClass("show");
    });
</script>



