<div class="card bbgg h-img1">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="w-100" src="/assets/images/coffee.jpg" alt="">
        </div>
        <div class="col-md-6 pl-md-2">
            <div class="card-body">

                <h4 class="card-title">{% if page.lang=="ua" %} Доброчинна Кава {% else %} Wohltätigkeitskaffee {% endif
                    %}</h4>

                <div class="card-text">Від 2017 року ми запровадили у нашій громаді періодичні збірки на добрі справи.
                    Відбуваються вони просто: в першу неділю місяця після двох літургій продаємо каву та солодке у
                    парафіяльному залі. Усі зібрані кошти йдуть на добрі справи. Допомогти можна по різному: подарувати
                    гроші - щось купити; подарувати своє вміння – спекти солодке; подарувати свій час – продавати та
                    прибирати після заходів.
                </div>

                <div id="further" class="card-text collapse">Цим ми робимо спільну справу Божого милосердя. Чи знаєте Ви, що грецьке слово
                    "літургія" - так ми називаємо наше богослуження, центром якого є Євхаристія, Пресвяте Причастя -
                    означає "спільну справу"?! Спільна справа на добро ближнього це і є літургія, ця Божа справа здатна
                    зрушувати гори з місця!<br>
                    Наша "Доброчинна кава" це знову і знову підтверджує.<br>
                    Цінуємо усіх наших волонтерів та доброчинців і щиро дякуємо за Вашу допомогу!
                    Дякуємо усім, хто пік солодке, хто його продавав і хто його купував....!!!!!
                </div>
                <button data-toggle="collapse" data-target="#further" class="btn mt-2 mb-0 btn-dark ">
                    {% if page.lang=="ua" %}
                    Дізнатись
                    більше{% else %} Mehr erfahren{% endif %}
                </button>
            </div>
        </div>
    </div>
</div>

