<div class="container-fluid bg-footer mt-auto">
  <div class="container">	
	<div class="row">
	    <div class="container space">
	    </div>
	    <div class="col-lg-4 col-sm-12 text-left mt-3">
		    <h4 class="text-secondary">ХРАМ ВІДКРИТО ЩОДЕННО</h4>
			<p class="text-secondary mt-5">Postgasse 8-12, 1010 Wien</p>
		</div>
		<div class="col-lg-4 col-sm-12 text-left  mt-3">
		    <h4 class="text-secondary">ЗВОРОТНІЙ ЗВ’ЯЗОК</h4>
			<p class="text-secondary mt-5">pfarre@st-barbara-austria.org</p>
			
		</div>
		<div class="col-lg-4 col-sm-12 text-left text-secondary mt-3">
		    <h4>ОРГАНІЗАЦІЙНЕ</h4>
		    <ul>
                <li>Статути</li>
                <li class="mt-1">Візантійський ординаріат в Австрії</li>
                <li class="mt-1">Святий Йосафат</li>
            </ul>
		</div>
		<div class="container space">
	    </div>
	</div>
  </div>
</div>
