<div class="container-fluid bg-footer mt-auto">
  <div class="container">	
	<div class="row">
	    <div class="container space">
	    </div>
		{% for node in site.data.[page.lang].footer.footer %}
		<div class="col-lg-4 col-sm-12 text-left text-secondary mt-3">
		    <h4>{{node.title}}</h4>
		    <ul>
				{% for item in node.point %}
                {% if item.link %}
                <li><a href="{{item.link}}" class="text-secondary">{{item.text}}</a></li>
                {% else %}
                <li>{{item.text}}</li>
                {%endif%}
				{% endfor %}
            </ul>
		</div>
		{% endfor %}
		<div class="container space">
	    </div>
	</div>
  </div>
</div>
