<div class="footer container-fluid bg-light">
    <div class="row pt-4 pb-4">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div><h5>St. Barbara Kirche in Wien</h5>
                <p>Postgasse 8-12, 1010 Wien</p></div>
        </div>
        <div class="col-lg-5">
            <ul>
                <h5>
                    <li>Статути</li>
                </h5>
                <h5>
                    <li>Візантійський ординаріат в Австрії</li>
                </h5>
                <h5>
                    <li>Святий Йосафат</li>
                </h5>
            </ul>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
