<meta name="robots" content="noindex, nofollow">

{% assign currentEventNumber = site.data.events.gallerie.event.size | minus: page.eventNumber | minus: 1 %}

<div class="container-fluid pb-5">
    <h4>{{ site.data.events.gallerie.event[currentEventNumber].[page.lang] }}</h4>
    <div class="galleria">
        {% for entity in site.data.events.gallerie.event[currentEventNumber].collection %}
        <img  src="{{ entity.pic }}">
        {% endfor %}
    </div>
</div>

<div class="container pb-5">
    <h5>До інших подій у церкві Святої Варвари</h5>
    <div class="row">
        <div class="col-6" style="text-align: center;">

            <a type="button" href="../gallerie">{{ site.data.events.gallerie.event.first.ua }}</a>
        </div>
        {% for item in site.data.events.gallerie.event offset: 1%}

        {% if forloop.index == currentEventNumber %} {% continue %}
        {% else %}
        <div class="col-6" style="text-align: center;">
            {% assign pageNumber = site.data.events.gallerie.event.size | minus: forloop.index %}

            <a type="button" href="podiia{{ pageNumber }}">{{item.ua}}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>



<script>
    (function() {
        Galleria.loadTheme('/assets/gallery/galleria.folio.js');
        Galleria.run('.galleria');
        Galleria.configure('imageCrop', false);
    }());
</script>
