            {% assign month_date_now = 'now' | date: '%m' | slice: 0,2 | plus: -1 %}
            {% assign day_date_now = 'now' | date: '%d' | slice: 0,2 | plus: 0 %}

            <ul class="">
                <li class="">
                    {% if site.data.[page.lang].calendar_josaphatskapelle.month[month_date_now].announcement %}
                    <div class="row atext-c center">
                        <span class=" col-sm-2"></span>
                        <div class = "col-sm-8">{{ site.data.[page.lang].calendar_josaphatskapelle.month[month_date_now].announcement }}</div>
                        <span class=" col-sm-2"></span>
                    </div>
                    {% endif %}
                </li>
            </ul>

            <ul class="list-group">
                {% for month in site.data.publishedMonths.month %}
                {% if month.isPublished %}
                {% for entry in site.data.[page.lang].calendar_josaphatskapelle.month[month.number].day %}
                <li class="list-group-item" data-month="{{ month.number }}" data-day="{{ entry.d }}">
                    <div class="row cent">
                        <div class="col-sm-2 atext-c center">
                            {{ entry.d }}
                            {{site.data.[page.lang].months.dictionary[month.number].genetiv}}
                        </div>
                        <div class="col-sm-6 atext-c center">
                            <table style="width:100%">
                                {% for event in entry.event  %}
                                <tr>
                                    <td  class="m-2 atext-c text-left">{{ event.time }}</td>
                                    <td  class="m-2  atext-c align-middle">{{ event.title}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <div class="col-sm-4 atext-c center ">{{entry.occasion}}</div>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
