
            {% assign month_date_now1 = 'now' | date: '%m' | slice: 0,2 | plus: 0 %}
            {% assign month_number = item.month_date | slice: 0,2 | plus: -1 %}
            {% assign today = 'now' | date: '%d' | slice: 0,2 | plus: 0 %}
            {% assign starts_from = today | plus: -1 %}
            {% assign limited_to = today | plus: 7 %}

                {% if site.data.[page.lang].calendar.month[month_number].announcement %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row atext-c center">
                            <span class=" col-sm-2"></span>
                            <div class = "col-sm-8">{{ site.data.[page.lang].calendar.month[month_number].announcement }}</div>
                            <span class=" col-sm-2"></span>
                        </div>
                    </li>
                </ul>
                {% endif %}


                <ul class="list-group list-group-flush">
                    {% for entry in site.data.[page.lang].calendar.month[month_number].day %}
                    {% if entry.d > limited_to %} {% break %} {% endif %}
                    {% if entry.d > starts_from && entry.d < limited %}
                    <li class="list-group-item">
                        <div class="row cent">
                            <div class="col-sm-2 atext-c center">
                                {{ entry.d }}
                                {% assign month_number = item.month_date | slice: 0,2 | plus: -4 %} <!-- WHY -4 ? -->
                                {{site.data.[page.lang].months.dictionary[month_number].genetiv}}
                            </div>
                            <div class="col-sm-6 atext-c center">
                                <table style="width:100%">
                                    {% for event in entry.event  %}
                                    <tr>
                                        <td  class="m-2 atext-c text-left">{{ event.time }}</td>
                                        <td  class="m-2  atext-c align-middle">{{ event.title}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>

                            <div class="col-sm-4 atext-c center ">{{entry.occasion}}</div>
                        </div>
                    </li>
                    {% endif %}


                    {% endfor %}
                    <li class="list-group-item">
                        <div class="row cent">
                            <div class="col-sm-4 atext-c center">  </div>

                            <div class="col-sm-4 atext-c center">
                                {% if page.lang == 'ua' %}
                                    <a href="ua/timetable.html">>> Відкрити повний розклад</a>
                                {% else %}
                                    <a href="timetable.html">>> Gottesdienste erweitert</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-4 atext-c center "></div>
                        </div>
                    </li>
                </ul>


