<nav class="navbar navbar-expand-lg navbar-dark color_bar sticky-top">
    <a href='{% if page.lang=="ua" %} https://st-barbara-austria.org {% else %} https://st-barbara-austria.org/de/ {% endif %}' class="navbar-brand">
        <img src="/assets/images/logo4.png" height="40px">
    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav">
            {% for item in site.data.[page.lang].navigation.navbar %}
            <li class="nav-item  {% if page.url == item.link %} active {% endif %} ">
                <a class="nav-link" href="{{item.link}}">{{item.name}}</a>
            </li>
            {% endfor %}
            {% assign common_pages = site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}

            <li class="nav-item-flag">
                {% for page in common_pages %}

                <a class="" href="{{page.url}}"> <img src="{{ site.data.languages.[page.lang].icon }}"></a>

                {% endfor %}
            </li>
        </ul>

    </div>
</nav>
