<div class="row">
    <div class="col-sm-12 col-lg-6"><img class="w-100" alt=""  src="/assets/images/uploads/g21a8690.jpg"></div>
    <div class="col-sm-12 col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor mauris dignissim commodo sagittis. Pellentesque finibus venenatis lectus, sit amet faucibus risus mattis id. Donec quis pulvinar velit, sit amet ultricies ex. Nullam eu faucibus nisi. Nulla condimentum massa metus, ac eleifend velit feugiat ac. Morbi bibendum massa eros, quis suscipit nisi elementum ut. Suspendisse dignissim laoreet luctus. Donec auctor, massa non egestas sodales, justo augue ultrices lacus, et porttitor sapien dui ac est.</p>
        <p>Pellentesque dignissim imperdiet ante in feugiat. Donec maximus risus quis est euismod cursus. Ut id hendrerit dolor, sed auctor nulla. Sed quis dignissim mi. Nam semper bibendum augue, non molestie neque egestas quis. Nam at felis a mi feugiat feugiat. Pellentesque a consequat justo, id dapibus tellus. Quisque eu dolor vel dolor elementum maximus eu et est. Nulla eu tristique velit. Vestibulum laoreet accumsan dignissim. Maecenas fringilla augue eu ipsum rutrum finibus. In interdum feugiat dui sed ullamcorper.</p>
        <a href="pozhertvy.html" class="btn btn-dark">{{page.learnmore}}</a>
    </div>
</div>


