<link rel='stylesheet' href='/assets/css/donations.css'>
<style>
    .payment-button {
        background-color: #67878E;
        color: white;
        font-size: larger;
    }
</style>
<div class="row justify-content-center"  style="min-height: calc(100vh - 330px);">
    <div class="container">
        <p style="text-align: center;">Die St. Barbara Kirche organisierte zusammen mit der ukrainischen Gemeinde ein Zentrum, um den Opfern des Krieges zwischen Russland und der Ukraine zu helfen. Das gespendete Geld wird für Medikamente, Erste-Hilfe-Ausrüstung und andere Güter, die dringend benötigt werden, verwendet werden.</p>
        <p style="text-align: center; margin-bottom: 50px;">Sie können Ihre Spende schnell über das Stripe-Zahlungssystem überweisen.</p>
        <div class="row">
            <div class="col-6">
                        <h3 style="text-align: center;">Einmalige Spende</h3>
                        <div class="row" style="margin-bottom: 15px;"><a type="button" class="btn payment-button" href="https://buy.stripe.com/4gwg1l2A5f9M6kg7st">5 EUR spenden</a></div>
                        <div class="row" style="margin-bottom: 15px;"><a type="button" class="btn payment-button" href="https://buy.stripe.com/5kA02n0rXbXA4c83ce">10 EUR spenden</a></div>
                        <div class="row" style="margin-bottom: 15px;"><a type="button" class="btn payment-button" href="https://buy.stripe.com/28o2ava2x5zcaAw4gj">20 EUR spenden</a></div>
                        <div class="row" style="margin-bottom: 15px;"><a type="button" class="btn payment-button" href="https://buy.stripe.com/00geXheiN4v8aAw7sw">50 EUR spenden</a></div>
                        <div class="row" style="margin-bottom: 15px;"><a type="button" class="btn payment-button" href="https://buy.stripe.com/aEUg1lgqVe5I24028d">100 EUR spenden</a></div>

            </div>
            <div class="col-6">
                <h3 style="text-align: center;">Möchten Sie mehr spenden?</h3>
                <p>Wenn Sie mehr als 100 EUR spenden möchten, können Sie Ihre Spende auf der Checkout-Seite anpassen</p>
                <div class="row"><a type="button" class="btn payment-button" href="https://buy.stripe.com/aEU9CX8Yt2n0cIEeV0">Jetzt spenden</a></div>
            </div>
        </div>
    </div>
</div>

