<div class="row">
    <div class="col-sm-12 col-lg-6"><img class="w-100" alt="" src="/assets/images/pozhertvy.png"></div>
    <div class="col-sm-12 col-lg-6 text-center">
        <h1 class="titlesm">Зробити пожертву з QR кодом</h1>
        <div class="row my-4">
            <div class="col">
                <img class="w-50" alt="" src="/assets/images/st-barbara-zahle-qr.png">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="pozhertvy.html" class="btn btn-dark">{{page.learnmore}}</a>
            </div>
        </div>
    </div>
</div>


