<div class="card bbgg w-100 my-4 rounder h-img ">

    <img class="card-img-top rounder" src="/assets/images/pozhertvy.png" alt="Card image">

    <div class="card-body">

            <h4 class="card-title">{% if page.lang=="ua" %} Інформація {% else %} Information {% endif %}</h4>
            <div class="card-text">Тут можна добавити додаткову інформацію</div>

            <a href="/{{page.lang}}/pozhertvy.html" class="btn mb-2 mt-4 btn-dark">{% if page.lang=="ua" %} Дізнатись
                більше{% else %} Mehr erfahren{% endif %}</a>

    </div>
</div>


