<div class="container pt-5 pb-5"  style="min-height: calc(100vh - 250px);">
    <div class="">
        <div class="tabs m-0 p-0">
            <div class="">
                <nav class="tab-list">
                    <h3 style="text-align: center;">{{page.title}}
                        <!--
                        {% assign month_date_now = 'now' | date: '%m' | slice: 0,2 | plus: -1 %}
                        {% assign month_number = month_date_now | slice: 0,2 | plus: 0 %}
                        {{site.data.[page.lang].months.dictionary[month_number].nominativ}}
                        -->
                    </h3>
                    <div class="container mb-4 center">
                        <div class="row">
                            <div class="col-md-6">
                                {% if page.lang == 'ua' %}
                                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/de">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                    </svg>Богослужіння німецькою</a>
                                {% else %}
                                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/de">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
                Messen der deutschsprachigen Gemeinde
            </span>
                                </a>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {% if page.lang == 'ua' %}
                                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                    </svg>Богослужіння угорською</a>
                                {% else %}
                                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
                Messen der ungarischsprachigen Gemeinde
            </span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="w-100">
        {% include indextimetable_jesuitenkirche.html %}
    </div>
    <br>
    <div class="w-100">
        {% include indextimetable_josaphatskapelle.html %}
    </div>
</div>
