<div class="container pt-5 pb-5"  style="min-height: calc(100vh - 250px);">
    <div class="">
        <div class="tabs m-0 p-0">
            <div class="">
                <nav class="tab-list">
                    <h3 style="text-align: center;">{{page.title}}
                    на
                        {% assign month_date_now = 'now' | date: '%m' | slice: 0,2 | plus: -1 %}
                        {% assign month_number = month_date_now | slice: 0,2 | plus: 0 %}
                        {{site.data.[page.lang].months.dictionary[month_number].nominativ}}
                    </h3>
                </nav>
            </div>
        </div>
    </div>
    <div class="w-100">
        {% include indextimetable_jesuitenkirche.html %}
    </div>
    <br>
    <div class="w-100">
        {% include indextimetable_josaphatskapelle.html %}
    </div>
</div>
