body {
    background-color: #ffffff;
    color: #1D1200;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.p-0 {
    padding: 0;
}

.color_bar {
    background-color: #67878E;
}


.color-div-2 {
    background-color: #FFE5D9;
}

.btn-color {
    background-color: #4C6F77;
    border-color: #4C6F77;
}

.color-dark-gray {

    border-color: #5E7D90;
}

