body {
    background-color: #ffffff;
    color: #1D1200;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-size: 1.1rem;
    overflow: auto;
}

.p-0 {
    padding: 0;
}

.color_bar {
    background-color: #67878E;
}


.color-div-2 {
    background-color: #FFE5D9;
}

.btn-color {
    background-color: #67878E;
    border-color: #67878E;
}

.color-dark-gray {

    border-color: #5E7D90;
}

.nav-item-flag{
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    text-align:center;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    text-align:left;
    margin-top: 6px;
    margin-bottom:-1px;
}
.nav-item-flag.show{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}
