<!doctype html>
<html lang="en">
<head>
    {%include head.html%}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
{% include navigation.html %}
<div class="container-fluid color_bar py-3 justify-content-center">
    <div class="container mt-3 wh-color">
        <div class="row">

            <div class="col-lg-3 col-md-12 col-sm-12 my-3">
                <a href="{% if page.lang == 'ua' %}ua/barbara.html{%else%}barbara.html{%endif%}"><img src="/assets/images/portret2.png" alt="" class="w-100 rounder"></a>
            </div>

            <div class="col my-3">
                <h1 class="title wh-color"> {{ page.title }} </h1>
                <p> {{ page.belowtitletext }} </p>
                <a class="btn btn-dark m-1"
                   href="{% if page.lang == 'ua' %}ua/barbara.html{%else%}barbara.html{%endif%}">{% if page.lang ==
                    'ua' %}Свята Великомучениця Варвара{% endif %}
                    {% if page.lang == 'de' %} Heilige Barbara {% endif %}</a>
                <a class="btn btn-dark m-1  ttest" href="/{{page.lang}}/hazeta.html">{% if page.lang == 'ua'%}Церковна газета{%
                    else%} Kirchliche Zeitschrift {% endif%}</a>
            </div>

        </div>
    </div>
</div>
<div class="container mt-2 mb-5 ">
    <h3 class="my-3 text-center title pt-3">{% if page.lang=="ua" %} Богослужіння {% else %} Messe {% endif %}</h3>

    <div class="card w-100 my-4  h-img1 ">
        {% include indextimetable.html %}
    </div>

    {% if page.lang=="ua" %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row atext-c center">
                <span class=" col-sm-2"></span>
                <div class = "col-sm-8">Розклад Богослужінь на грудень у каплиці Святого Йосафата у несвяткові дні, поруч з церквою св. Варвари (Postgasse 8A, 1010 Wien)</div>
                <span class=" col-sm-2"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row cent">
                <div class="col-sm-2 atext-c center">
                    Неділя
                </div>
                <div class="col-sm-6 atext-c center">
                    <table style="width:100%">
                        <tr>
                            <td  class="m-2 atext-c text-left">18:00</td>
                            <td  class="m-2  atext-c align-middle">Служба Божа німецькою мовою</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-4 atext-c center "></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row cent">
                <div class="col-sm-2 atext-c center">
                    Понеділок
                </div>
                <div class="col-sm-6 atext-c center">
                    <table style="width:100%">
                        <tr>
                            <td  class="m-2 atext-c text-left">19:00</td>
                            <td  class="m-2  atext-c align-middle">Зустріч «Матері в молитві»</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-4 atext-c center "></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row cent">
                <div class="col-sm-2 atext-c center">
                    Четвер
                </div>
                <div class="col-sm-6 atext-c center">
                    <table style="width:100%">
                        <tr>
                            <td  class="m-2 atext-c text-left">18:00</td>
                            <td  class="m-2  atext-c align-middle">Служба Божа за здоров'я</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-4 atext-c center "></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row cent">
                <div class="col-sm-2 atext-c center">
                    П'ятниця
                </div>
                <div class="col-sm-6 atext-c center">
                    <table style="width:100%">
                        <tr>
                            <td  class="m-2 atext-c text-left">18:00</td>
                            <td  class="m-2  atext-c align-middle">Служба Божа за померлих</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-4 atext-c center "></div>
            </div>
        </li>
    </ul>
    {% else %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row atext-c center">
                <span class=" col-sm-2"></span>
                <div class = "col-sm-8">Gottesdienste in der Josaphatskapelle an anderen Tagen neben der St. Barbara Kirche (Eingang in der Postgasse 8A, 1010 Wien)</div>
                <span class=" col-sm-2"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row cent">
                <div class="col-sm-2 atext-c center">
                    Sonntag
                </div>
                <div class="col-sm-6 atext-c center">
                    <table style="width:100%">
                        <tr>
                            <td  class="m-2 atext-c text-left">18:00</td>
                            <td  class="m-2  atext-c align-middle">Hl. Liturgie auf Deutsch</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-4 atext-c center "></div>
            </div>
        </li>
    </ul>
    {% endif %}

</div>
<div class="container-fluid container justify-content-center">
    <div class="m-2 mt-4">
        <div class="row w-100 justify-content-around">
            <div class="col-lg-8 col-sm-12">
                <h3 class="my-3 text-center title">{% if page.lang=="ua" %}Останні новини {% else %} Aktuell {% endif
                    %}</h3>
                {% include index_news.html %}
            </div>
        </div>

        </div>
        <div class="row w-100 justify-content-around">
                    <div class="col-lg-6 col-sm-12"><h3 class="my-3 text-center title">{% if page.lang=="ua" %} Пожертви {% else %} Spenden {% endif %}</h3>

                    <!-- <img class="w-100" alt="" src="/assets/images/pozhertvy.png">-->
                        {% include pozhertvy_card.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ content }}


{% include footer_v2.html %}


<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
</body>
</html>
