<!doctype html>
<html lang="en">
<head>
    {%include head.html%}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
{% include navigation.html %}
<div class="container-fluid color_bar py-3 justify-content-center">
    <div class="container mt-3 wh-color">
        <div class="row">

            <div class="col-lg-3 col-md-12 col-sm-12 my-3">
                <img src="/assets/images/portret.jpg" alt="" class="w-100 rounder">
            </div>

            <div class="col my-3">
                <h1 class="display-4 title wh-color"> {{ page.title }} </h1>
                <p> {{ page.belowtitletext }} </p>
                <a class="btn btn-dark"
                   href="{% if page.lang == 'ua' %}ua/barbara.html{%else%}barbara.html{%endif%}">{% if page.lang ==
                    'ua' %}Свята Великомучениця Варвара{% endif %}
                    {% if page.lang == 'de' %} Heilige Barbara {% endif %}</a>
                <a class="btn btn-dark"
                   href="{% if page.lang == 'ua' %}ua/pozhertvy.html{%else%}pozhertvy.html{%endif%}">{% if page.lang ==
                    'ua' %} Пожертви {% endif %}
                    {% if page.lang == 'de' %} Spenden {% endif %}</a>
            </div>

        </div>
    </div>
</div>

{% include index_news.html %}

{{ content }}


{% include footer_v2.html %}


<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
</body>
</html>
