<!doctype html>
<html lang="en">
<head>
    {%include head.html%}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
{% include navigation.html %}
<div class="container-fluid color_bar py-3 justify-content-center">
    <div class="container mt-3 wh-color">
        <div class="row">

            <div class="col-lg-3 col-md-12 col-sm-12 my-3">
                <a href="{% if page.lang == 'ua' %}ua/barbara.html{%else%}barbara.html{%endif%}"><img src="/assets/images/portret2.png" alt="" class="w-100 rounder"></a>
            </div>

            <div class="col my-3">
                <h1 class="title wh-color"> {{ page.title }} </h1>
                <p> {{ page.belowtitletext }} </p>
                <a class="btn btn-dark m-1"
                   href="{% if page.lang == 'ua' %}ua/barbara.html{%else%}barbara.html{%endif%}">{% if page.lang ==
                    'ua' %}Свята Великомучениця Варвара{% endif %}
                    {% if page.lang == 'de' %} Heilige Barbara {% endif %}</a>
                <a class="btn btn-dark m-1  ttest" href="/{{page.lang}}/hazeta.html">{% if page.lang == 'ua'%}Церковна газета{%
                    else%} Kirchliche Zeitschrift {% endif%}</a>
            </div>

        </div>
    </div>
</div>
<div class="container mt-2 mb-5 ">
    <h3 class="my-3 text-center title pt-3">{% if page.lang=="ua" %} Розклад Великодніх Богослужінь {% else %} Gottesdienstordnung Ostern {% endif %}</h3>

    <div>
        {% include indextimetable_jesuitenkirche.html %}
    </div>
    <br>
    <div>
        {% include indextimetable_josaphatskapelle.html %}
    </div>
    <div class="container mt-4 mb-4 center">
        <div class="row">
            <div class="col-md-6">
                {% if page.lang == 'ua' %}
                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/de">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>Богослужіння німецькою</a>
                {% else %}
                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/de">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
                Messen der deutschsprachigen Gemeinde
            </span>
                </a>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if page.lang == 'ua' %}
                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>Богослужіння угорською</a>
                {% else %}
                <a class="btn-link" target="_blank" href="https://www.magyar-görög-katolikus.at/">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
                Messen der ungarischsprachigen Gemeinde
            </span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <center>
        {% if page.lang == 'ua' %}
        <a class="btn btn-dark m-1" href="ua/timetable.html">Відкрити повний розклад</a>
        {% else %}
        <a class="btn btn-dark m-1" href="timetable.html">Gottesdienste erweitert</a>
        {% endif %}
    </center>


    <script>
        const currentDate = new Date();
        let today = currentDate.getDate();
        let currentMonth = currentDate.getMonth();
        const timetableItems = document.getElementsByClassName("list-group-item");

        let daysLeftThisMonth = 0;
        let displayNextMonth = true;

        for(let index = 0; index < timetableItems.length; ++index) {

            const day = parseInt(timetableItems[index].dataset.day);
            const month = parseInt(timetableItems[index].dataset.month);

            let hideDay = true;

            const dayLaterToday = day >= today;
            const dayEarlierWeekFromToday = day <= today + 7;

            if(month === currentMonth) {
                if(dayLaterToday && dayEarlierWeekFromToday) {
                    hideDay = false;
                    daysLeftThisMonth++;
                    displayNextMonth = day !== today + 7;
                }
            } else {
                const isNextMonth = month > currentMonth;
                if(isNextMonth && displayNextMonth && day <= ( 7 - daysLeftThisMonth)) {
                    hideDay = false;
                }
            }

            if(hideDay) {
                timetableItems[index].style = "display: none;";
            }
        }
    </script>

</div>
<div class="container-fluid container justify-content-center">
    <div class="m-2 mt-4">
        <div class="row w-100 justify-content-around">
            <div class="col-lg-8 col-sm-12">
                <h3 class="my-3 text-center title">{% if page.lang=="ua" %}Останні новини {% else %} Aktuell {% endif
                    %}</h3>
                {% include index_news.html %}
            </div>
        </div>

        </div>
        <div class="row w-100 justify-content-around">
                    <div class="col-lg-6 col-sm-12"><h3 class="my-3 text-center title">{% if page.lang=="ua" %} Пожертви {% else %} Spenden {% endif %}</h3>

                    <!-- <img class="w-100" alt="" src="/assets/images/pozhertvy.png">-->
                        {% include pozhertvy_card.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ content }}


{% include footer_v2.html %}


<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
</body>
</html>
