---
title: Галерея
layout: default_dark
lang: ua
lang-ref: gallerie
---

<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>



<div class="container-fluid pb-5">
     <div class="container-fluid">
         <div class="card w-100 my-4 py-4  h-img1 ">
             <h4 class="text-center mb-4">{{ site.data.events.gallerie.event.first.ua }}</h4>
         <div class="fotorama">
             {% for entity in site.data.events.gallerie.event.first.collection %}
                <img src="{{ entity.pic }}">
             {% endfor %}
         </div>
         </div>
     </div>
</div>





<div class="container pb-5">
    <h4 class="text-center mb-4">До інших подій у церкві Святої Варвари</h4>
    <div class="row ">
        {% for item in site.data.events.gallerie.event offset: 1   %}
        <div class="col-6" style="text-align: center; color: #55757b;">
            {% assign pageNumber = site.data.events.gallerie.event.size | minus: forloop.index %}
            <a class="btn btn-lg" style="background-color: #55757b; color: white;" href="gallery/podiia{{ pageNumber }}">{{item.ua}}</a>
        </div>
        {% endfor %}
    </div>
</div>


