---
title: Галерея
layout: default_dark
lang: ua
lang-ref: gallerie
---

<script type="text/javascript" src="/admin/libraries/jgallery/jgallery.min.js?v=2.2.1"></script>

<div class="container-fluid pb-5">
    <h4 class="text-center mt-2">{{ site.data.events.gallerie.event.first[page.lang] }}</h4>
    <div class="container-fluid">
        <div class="" style="">
            <div id="gallery">
            </div>
        </div>
    </div>
</div>





<div class="container pb-5">
    <h4 class="text-center mb-4">До інших подій у церкві Святої Варвари</h4>
    <div class="row ">
        {% for item in site.data.events.gallerie.event offset: 1   %}
        <div class="col-6" style="text-align: center; color: #55757b;">
            {% assign pageNumber = site.data.events.gallerie.event.size | minus: forloop.index %}
            <a class="btn btn-lg" style="background-color: #55757b; color: white;" href="gallery/podiia{{ pageNumber }}">{{item.ua}}</a>
        </div>
        {% endfor %}
    </div>
</div>


<script type="text/javascript">
    document.querySelector('#gallery').appendChild(JGallery.create([{
        title: '{{ site.data.events.gallerie.event.first[page.lang] }}',
        items: [
            {% for entity in site.data.events.gallerie.event.first.collection %}
        {
            url: '{{ entity.pic }}',
            thumbUrl: '{{ entity.pic }}',
            hash: 'photo'
        },
        {% endfor %}
    ]
    }],{
        "backgroundColor": '#ffffff',
            "textColor": '#55757b',
            "slideShow": false,
            "transitionDetails": 0.75

    }).getElement());
</script>

