---
title: Статути
belowtitletext:
layout: default
lang: ua
lang-ref: statuty
---

<div class="accordion" id="acc">
    {% for node in site.data[page.lang].statuty.statuty %}
    <div class="card">
        <div class="card-header" id="post{{node.title}}">
            <h1 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#post{{forloop.index}}"
                        aria-expanded="true" aria-controls="post{{forloop.index}}">
                    {{node.title}}
                </button>
            </h1>
        </div>
        <div id="post{{forloop.index}}" class="collapse" aria-labelledby="post{{node.title}}" data-parent="#acc">
            <div class="card-body">
                {% if node.tex %}
                <p>{{node.tex}}</p>
                {% endif %}
                <ol>
                    {% for tex in node.text %}
                    <li class="my-2">{{tex.point}}
                        {%if tex.list%}

                        <ul type="square">{%for ist in tex.list%}
                            <li  class="my-2">{{ist.lis}}</li>
                            {%endfor%}
                        </ul>

                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
